/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
!/vendor/encore/laravel-admin/src/Auth/Database/Menu.php
!/vendor/encore/laravel-admin/src/Traits/ModelTree.php
!/vendor/encore/laravel-admin/resources/views/partials/footer.blade.php
!/vendor/encore/laravel-admin/src/Controllers/MenuController.php
!/vendor/laravel-admin-ext/config/
!/vendor/encore/laravel-admin/src/Grid/Exporters/CsvExporter.php